.todo__list_btn {
   background-color: #42e176;
   padding: 10px;
   color: #1a202c;
   border-radius: 5px;
   width: 100%;
   font-size: 1rem;
   font-weight: bold;
}
.todo__list_name {
   margin-bottom: 10px;
}
