.home {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   &__container {
      text-align: center;
   }
   &__title {
      font-size: 1.5rem;
      margin-bottom: 10px;
   }
   &__descr {
      margin-bottom: 10px;
   }
   &__link {
      display: inline-block;
      padding: 10px 15px;
      color: #000;
      background: #fff;
      border-radius: 10px;
      border: 2px solid transparent;

      transition:
         border 0.5s ease,
         background 0.5s ease,
         color 0.5s ease;

      @media (any-hover: hover) {
         &:hover {
            background: #1a202c;
            border: 2px solid #fff;
            color: #fff;
         }
      }
   }
}
